.header {
  position: relative;
  z-index: 9;
}
.container {
  max-width: 1240px !important;
  width: 100% !important;
  padding: 0 20px;
  margin: 0 auto;
}
#troo-da-header:after {
  position: absolute;
  width: 100%;
  height: 1px;
  left: 0px;
  top: 50px;
  background: #ffffff;
  opacity: 0.1;
  transform: matrix(1, 0, 0, -1, 0, 0);
  content: "";
}
.addres-deatls {
  display: flex;
  padding-top: 16px;
  padding-bottom: 16px;
}
.add-bx {
  padding-right: 49px;
}
.add-bx a {
  color: #fff;
  text-decoration: none;
}
.fa-phone:before {
  content: "\f095";
}
.add-bx a span {
  margin-left: 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}
.socail-con {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-top: 16px;
  padding-bottom: 16px;
}
.socal-icon ul {
  padding: 0;
  margin: 0;
}
.socal-icon li {
  display: inline-block;
  padding: 0 3.5px;
}
.socal-icon a {
  text-decoration: none;
}
.socal-icon .s_icon {
  width: 25px;
  height: 25px;
  border: 1px solid #fff;
  border-radius: 45px;
  color: #fff;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
}
.socal-icon span {
  margin-right: 29px;
  margin-left: 9px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  color: #ffffff;
}
nav.navbar.navbar-expand-lg {
  position: relative;
  padding: 28px 0 0 0;
}
a.navbar-brand {
  margin-right: 0 !important;
  padding: 0;
}
.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}
ul.navbar-nav {
  padding-left: 0px;
  padding-right: 0px;
  margin: 0px 0 0 56px;
}
a.nav-link.active {
  color: #fd7702;
}
a.nav-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #ffffff;
  padding: 0 19.5px !important;
}
.nav-link {
  position: relative;
}
a.nav-link.active:before {
  width: 5px;
  height: 5px;
  content: "";
  background: #fd7702;
  position: absolute;
  border-radius: 45px;
  bottom: -11px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
}
.navbar-expand-lg .navbar-nav .dropdown-menu {
  position: absolute;
  min-width: 15rem;
}
a.dropdown-item {
  padding: 11px 12px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: capitalize;
  color: #002347;
}
a.nav-link.active {
  color: #fd7702;
}
.nav-link:focus,
.nav-link:hover {
  color: #fd7702 !important;
}
.get-col a:hover {
  background: #fd7702;
  box-shadow: 0px 7px 29px rgb(253 119 2 / 32%);
  color: #fff;
}
.get-col a {
  position: relative;
  z-index: 1;
  float: left;
  margin-right: 38px;
}
.get-col a {
  display: inline-block;
  transition: 0.5s;
  border: 1px solid #fd7702;
  border-radius: 100px 0px 147px 100px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #fd7702;
  padding: 15px 25px;
  text-decoration: none;
}
/* .dropdown-toggle::after {
  font-family: "FontAwesome" !important;
  content: "\f078" !important;
  border: none !important;
  margin-left: 8px !important;
  vertical-align: 2px !important;
} */
